html {
  font-size: 1.125em; /* 18px */
  line-height: 1.222em; /* 22px */
  color: #000;
  background-color: #FFFDBC;
  padding: 0;
}

p{
  padding: 1.222em;
  padding-bottom:0; /* 22px */
}

ol{
  padding: 1.222em;
  list-style-type: none;
}

li {
  padding: 1.222em;
  padding-bottom: 0.611em; /* 11px, half of the gridline */
}

#email-input{
  padding-top:0;
}